<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="angular.min.js"></script>
		<script src="jquery.js"></script>
		<script src="underscore-min.js"></script>
	</head>
	<body ng-app='hd' ng-controller='ctrl'>
	<li ng-repeat="v in data">
		<span style='color:red' ng-if="$even">{{v.name}}{{$index}}</span>
		<span style='color:green;' ng-if="$odd">{{v.name}}{{$index}}</span>
	</li>
	</body>
</html>
<script type="text/javascript">
	//实例出模块
	var m = angular.module('hd',[]); 
	//定义控制器
	m.controller('ctrl',['$scope',function($scope){
		$scope.data=[
			{name:'lisi'},{name:'xiaoming'},
			{name:'sina'},{name:'yahoo'},
			{name:'sina'},{name:'yahoo'}
		];
	}]);

</script>





