<!DOCTYPE html>
<html ng-app='hd' ng-controller='ctrl'>
	<head>
		<meta charset="UTF-8">
		<script src="angular.min.js"></script>
		<script src="jquery.js"></script>
	</head>
	<body>
			<input type="text" ng-model='title'/>
			<button ng-click="getTitle()"></button>
	</body>
</html>
<script type="text/javascript">
	//实例出模块
	var m = angular.module('hd',[]);
	//定义控制器
	m.controller('ctrl',['$scope',function($scope){
		$scope.getTitle=function(){
			$.get('6.1.html',function(res){
				$scope.title=res;
				//重新对页面中的数据进行绑定处理
				$scope.$apply();
			});
		}
	}]);
	
</script>
