* {
  margin: 0;
  padding: 0;
}
#head {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #e6e6e6;
  background: #F5F5F5;
  font: 12px/30px arial;
}
#head .top {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
}
#head .top .zc-login-info {
  float: left;
}
#head .top .zc-back-home {
  padding: 0 20px 0 0;
}
#head .top .zc-back-home a {
  color: #666;
  text-decoration: none;
}
#head .top .zc-login {
  padding: 0 20px 0 0;
  color: #666;
}
#head .top .zc-login a {
  color: #36c;
  text-decoration: none;
}
#head .top .zc-register a {
  color: #36c;
  text-decoration: none;
}
#head .top ul {
  list-style: none;
}
#head .top .zc-quick-menu {
  float: right;
  margin: 0 -10px 0 0;
}
#head .top .zc-quick-menu li {
  float: left;
  margin: 0 10px;
  height: 30px;
  font: 12px/30px arial;
}
#head .top .zc-quick-menu li a {
  display: inline-block;
  color: #666;
  text-decoration: none;
}
#head .top .zc-quick-menu .zc-hd {
  position: relative;
  padding: 0 23px 0 10px;
}
#head .top .zc-quick-menu .zc-hd .ico {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 7px;
  height: 4px;
  background: url(../../../images/1.png) 0 -45px no-repeat;
}
#head .top .zc-quick-menu .zc-my-center {
  margin: 0;
}
#head .top .zc-quick-menu .zc-my-center .zc-my-center-bd {
  display: none;
  position: absolute;
  top: 29px;
  left: 0;
  padding: 3px 9px;
  width: 88px;
  border: 1px solid #ededed;
  background: #fff;
}
#head .top .zc-quick-menu .zc-my-center .zc-my-center-bd a em {
  font-style: normal;
}
#head .top .zc-quick-menu .zc-separator {
  color: #ccc;
}
#head .top .zc-quick-menu .zc-mobile {
  margin: 0;
}
#head .top .zc-quick-menu .zc-mobile .zc-hd {
  position: relative;
  padding: 0 23px 0 25px;
  background: url(../../../images/1.png) 0 0 no-repeat;
}
#head .top .zc-quick-menu .zc-mobile .zc-mobile-bd {
  display: none;
  position: absolute;
  top: 29px;
  left: 0;
  padding: 20px;
  width: 130px;
  height: 130px;
  border: 1px solid #ededed;
  background: #fff;
}
#head .top .zc-quick-menu .zc-mobile .zc-mobile-bd img {
  display: block;
  border: 0;
}
#head .top .zc-quick-menu .zc-service-tel {
  display: none;
  position: absolute;
  top: 29px;
  right: 0;
  padding: 3px 9px;
  width: 80px;
  border: 1px solid #ededed;
  font: 12px/28px arial;
  text-align: right;
  background: #fff;
}
.header {
  margin: 0 auto;
  padding: 25px 0 0;
  width: 1200px;
  height: 92px;
}
.header .logo {
  float: left;
  padding: 5px 0 0;
}
.header .logo h1 {
  float: left;
}
.header .logo .mall-logo {
  display: block;
  width: 180px;
  height: 50px;
  background: url(../images/3.png) no-repeat;
}
.header .logo p {
  float: left;
  margin: 3px 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #eee;
  font: 14px/44px "Microsoft YaHei";
  color: #666;
}
.header .search-box {
  float: left;
  padding: 12px 0 0 56px;
}
.header .search-box .search {
  position: relative;
  width: 536px;
  height: 32px;
  border: 2px solid #c40000;
  z-index: 3;
}
.header .search-box .search .search-text {
  padding: 6px 10px;
  width: 427px;
  height: 20px;
  font: 14px/20px "Microsoft YaHei";
  color: #666;
  border: 0 none;
}
.header .search-box .search .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 89px;
  height: 32px;
  font: 16px/32px "Microsoft YaHei";
  color: #fff;
  border: 0 none;
  background: #c40000;
}
.header .search-box .hot-search {
  padding: 7px 0 0;
  font: 12px/18px "Microsoft YaHei";
}
.header .search-box .hot-search a {
  display: inline-block;
  margin: 0 15px 0 0;
  color: #999;
  text-decoration: none;
}
.header .ad-div {
  float: right;
  width: 180px;
  height: 60px;
}
.header .ad-div img {
  display: block;
  border: 0;
}
.nav-box {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 0 0 2px 200px;
  width: 1000px;
  height: 30px;
  border-bottom: 2px solid #c40000;
}
.nav-box .nav li {
  float: left;
  padding: 0 20px;
  height: 30px;
  font: 16px/30px "Microsoft YaHei";
}
.nav-box .nav .current a {
  color: #f33;
}
.nav-box .nav a {
  display: inline-block;
  color: #333;
}
ul {
  list-style: none;
}
.category-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}
.category-nav-container .ad-div {
  width: 200px;
  height: 70px;
  background: #222;
}
.category-nav-container .ad-div img {
  display: block;
  border: 0;
}
.category-nav-title {
  height: 34px;
  background: #c40000;
  font: 14px/34px "Microsoft YaHei";
  color: #fff;
  text-align: center;
}
a {
  text-decoration: none;
}
.nav-tips {
  position: absolute;
  top: 0;
  right: 0;
  font: 16px/30px "Microsoft YaHei";
  color: #f33;
}
.nav-tips a {
  color: #f33;
}
.footer {
  margin: 30px 0 0;
  height: 543px;
  border-top: 1px solid #d9d9d9;
}
.footer .wrapper {
  height: 318.8px;
}
.footer .wrapper .footer-service {
  padding: 30px 0;
  overflow: hidden;
}
.footer .wrapper .footer-service li {
  position: relative;
  float: left;
  width: auto;
  padding: 0 66px 0 71px;
  height: 50px;
  font: 18px/50px "Microsoft YaHei";
}
.footer .wrapper .footer-service a {
  color: #333;
}
.footer .wrapper .footer-service .iconfont {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  line-height: 50px;
  color: #00ae75;
}
.footer .wrapper .footer-service-relate {
  padding: 20px 0;
  border-top: 1px solid #ededed;
}
.footer .wrapper .footer-service-relate .cooperation {
  width: 145px;
  float: right;
  padding: 0 0 0 60px;
  background: url(../../../images/5.png) no-repeat 0 -215px;
}
.footer .wrapper .footer-service-relate .cooperation dt {
  padding: 0;
  font-size: 16px;
}
.footer .wrapper .footer-service-relate .cooperation .btn {
  display: block;
  margin: 6px 0 0;
  width: 80px;
  height: 26px;
  font: 12px/26px SimSun;
  color: #fff;
  text-align: center;
  background: #f33;
  border-radius: 2px;
}
.footer .wrapper .footer-service-relate .cooperation .btn span {
  padding: 0 5px 0 0;
  font-family: "Microsoft YaHei";
}
.footer .wrapper .footer-service-relate dt {
  font: bold 14px/28px "Microsoft YaHei";
  color: #666;
}
.footer .wrapper .footer-service-relate dd p {
  font: 12px/28px "Microsoft YaHei";
}
.footer .wrapper .footer-service-relate dd p a {
  color: #666;
}
.footer .wrapper .footer-service-relate .hotline {
  width: 210px;
  float: right;
  padding: 0 0 0 60px;
  background: url(../../../images/5.png) no-repeat 0 -90px;
}
.footer .wrapper .footer-service-relate .hotline dt {
  padding: 0;
  font-size: 16px;
}
.footer .wrapper .footer-service-relate .hotline .weibo {
  display: inline-block;
  padding: 0 0 0 26px;
  font: 12px/32px "Microsoft YaHei";
  color: #333;
  background: url(../images/5.png) no-repeat;
}
.footer .wrapper .footer-service-relate dl {
  float: left;
  width: 175px;
}
.footer .footer-nav-bar {
  padding: 25px 0 30px;
  background: #2d2d2d;
}
.footer .footer-nav-bar .wrapper {
  height: 169px;
}
.footer .footer-nav-bar .wrapper .partners {
  position: relative;
  zoom: 1;
  padding: 0 135px 0 55px;
  height: 24px;
  overflow: hidden;
  font: 12px/24px "Microsoft YaHei";
  color: #666;
}
.footer .footer-nav-bar .wrapper .partners .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
}
.footer .footer-nav-bar .wrapper .partners a {
  margin: 0 10px;
  color: #fff;
}
.footer .footer-nav-bar .wrapper .footer-nav {
  margin: 0 0 0 -10px;
  padding: 7px 0 0;
  font: 12px/24px "Microsoft YaHei";
  color: #666;
}
.footer .footer-nav-bar .wrapper .footer-nav a {
  margin: 0 10px;
  color: #fff;
}
.footer .footer-nav-bar .wrapper .copyright {
  margin: 0 0 0 -10px;
  padding: 20px 0 0;
  font: 12px/24px "Microsoft YaHei";
  color: #666;
}
.footer .footer-nav-bar .wrapper .copyright a {
  margin: 0 10px;
  color: #999;
}
.footer .footer-nav-bar .wrapper .copyright span {
  padding: 0 0 0 15px;
  color: #999;
}
.footer .footer-nav-bar .wrapper .authentication {
  padding: 14px 0 0;
}
.footer .footer-nav-bar .wrapper .authentication img {
  float: left;
  margin: 0 7px 0 0;
}
.zc-side-toolbar-box {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1800;
  height: 100%;
  background: transparent;
}
.zc-side-toolbar-box .zc-toolbar-tabbar {
  position: absolute;
  top: 0;
  left: -37px;
  width: 37px;
  height: 100%;
  background: #2d2d2d;
  z-index: 1;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -250px 0 0;
  width: 37px;
  height: 266px;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-order {
  position: relative;
  margin: 0 0 12px;
  background-color: #2d2d2d;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-order .zc-tab-ico {
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url(../../../images/6.png) no-repeat 0 0;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-footprint {
  osition: relative;
  margin: 0 0 12px;
  background-color: #2d2d2d;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-footprint .zc-tab-ico {
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url(../../../images/6.png) no-repeat 0 -74px;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-cart {
  position: relative;
  margin: 0 0 12px;
  background-color: #2d2d2d;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-cart .zc-tab-ico {
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url(../../../images/6.png) no-repeat 0 -111px;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-cart .zc-number {
  position: absolute;
  top: -4px;
  right: 3px;
  padding: 1px 4px 0;
  height: 13px;
  font: 12px/13px Arial;
  background: #f33;
  color: #fff;
  border-radius: 10px;
}
.zc-side-toolbar-box .zc-toolbar-tool {
  position: absolute;
  bottom: 0;
  right: 0;
}
.zc-side-toolbar-box .zc-toolbar-tool .zc-feedback {
  display: block;
  padding: 5px;
  font: 12px/14px "Microsoft YaHei";
  color: #fff;
  text-align: center;
}
.zc-side-toolbar-box .zc-toolbar-tool .zc-backtop {
  display: block;
  width: 37px;
  height: 37px;
  background-color: #2d2d2d;
  background: url(../../../images/6.png) no-repeat 0 -185px;
}
/*# sourceMappingURL=common.css.map */
