* {
  margin: 0;
  padding: 0;
}
body {
  font: 12px/1.5 Arial;
  color: #333;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
hr {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.zc-topbar {
  position: relative;
  z-index: 997;
  height: 29px;
  font: 12px/29px arial;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}
.zc-topbar .zc-quick-menu {
  float: right;
  margin: 0 -10px 0 0;
}
.zc-topbar .zc-quick-menu .zc-service-tel {
  display: none;
  position: absolute;
  top: 29px;
  right: 0;
  padding: 3px 9px;
  width: 80px;
  border: 1px solid #ededed;
  font: 12px/28px arial;
  text-align: right;
  background: #fff;
}
.zc-topbar .zc-quick-menu .zc-hd {
  position: relative;
}
.zc-topbar .zc-quick-menu .zc-mobile {
  margin: 0;
}
.zc-topbar .zc-quick-menu .zc-mobile .zc-hd {
  padding: 0 23px 0 25px;
  background-position: 0 0;
  background: url(../images/topbar_ico.png) no-repeat;
}
.zc-topbar .zc-quick-menu .zc-separator {
  color: #ccc;
}
.zc-topbar .zc-quick-menu .zc-hd {
  position: relative;
  padding: 0 23px 0 10px;
}
.zc-topbar .zc-quick-menu .zc-my-center {
  margin: 0;
}
.zc-topbar .zc-quick-menu li {
  float: left;
  margin: 0 10px;
  height: 20px;
  font: 12px/29px arial;
}
.zc-topbar .zc-quick-menu li a {
  display: inline-block;
  color: #666;
  text-decoration: none;
}
.zc-topbar .wrapper {
  width: 1200px;
  margin: 0 auto;
}
.zc-topbar .wrapper .zc-login-info {
  float: left;
}
.zc-topbar .wrapper .zc-login-info .zc-back-home a {
  color: #666;
  text-decoration: none;
}
.zc-topbar .wrapper .zc-login-info .zc-login {
  padding: 0 20px 0 0;
  color: #666;
}
.zc-topbar .wrapper .zc-login-info .zc-login a {
  color: #36c;
  text-decoration: none;
}
.zc-topbar .wrapper .zc-login-info .zc-register a {
  color: #36c;
  text-decoration: none;
}
.header {
  margin: 0 auto;
  padding: 25px 0 0;
  width: 1200px;
  height: 92px;
}
.header .ad-div {
  float: right;
  width: 180px;
  height: 60px;
}
.header .ad-div img {
  display: block;
  border: 0;
}
.header .ad-div a {
  color: #134ba0;
  text-decoration: none;
}
.header .logo {
  float: left;
  padding: 5px 0 0;
}
.header .logo h1 {
  float: left;
  margin: 0;
  padding: 0;
}
.header .logo .mall-logo {
  display: block;
  width: 180px;
  height: 50px;
  background-image: url(../images/logo_180x50.png);
  background-repeat: no-repeat;
}
.header .logo p {
  float: left;
  margin: 3px 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid;
  font: 14px/44px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
}
.header .search-box {
  float: left;
  padding: 12px 0 0 56px;
}
.header .search-box .hot-search {
  padding: 7px 0 0;
  font: 12px/18px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
.header .search-box .hot-search a {
  display: inline-block;
  margin: 0 15px 0 0;
  color: #666;
}
.header .search-box .hot-search a:hover {
  color: #f33;
  text-decoration: underline;
}
.header .search-box select,
.header .search-box input,
.header .search-box button {
  vertical-align: middle;
  font-size: 100%;
}
.header .search-box .search {
  position: relative;
  width: 536px;
  height: 32px;
  border: 2px solid #c40000;
  z-index: 3;
}
.header .search-box .search .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 89px;
  height: 32px;
  font: 16px/32px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #fff;
  border: 0 none;
  background: #c40000;
  cursor: pointer;
}
.header .search-box .search select,
.header .search-box .search input,
.header .search-box .search button {
  vertical-align: middle;
}
.header .search-box .search .search-text {
  padding: 6px 10px;
  width: 427px;
  height: 20px;
  font: 14px/20px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
  border: 0 none;
  outline: 0 none;
}
.nav-box {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 0 0 2px 200px;
  width: 1000px;
  height: 30px;
  border-bottom: 2px solid #c40000;
}
.nav-box .nav li {
  float: left;
  padding: 0 20px;
  height: 30px;
  font: 16px/30px "Microsoft YaHei";
}
.nav-box .nav .current a {
  color: #f33;
}
.nav-box .nav a {
  display: inline-block;
  color: #333;
}
ul {
  list-style: none;
}
.category-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}
.category-nav-container .ad-div {
  width: 200px;
  height: 70px;
  background: #222;
}
.category-nav-container .ad-div img {
  display: block;
  border: 0;
}
.category-nav-title {
  height: 34px;
  background: #c40000;
  font: 14px/34px "Microsoft YaHei";
  color: #fff;
  text-align: center;
}
.category-menu-nav {
  position: relative;
  height: 341px;
  background: #2d2d2d;
}
.menu-nav-container {
  position: relative;
}
.menu-nav-container li {
  position: relative;
  margin: -1px 0 0 1px;
  padding: 0 0 1px 31px;
  height: 38px;
  border-top: 1px solid #3d3d3d;
  font: 12px/38px "Microsoft YaHei";
  color: #fff;
}
.menu-nav-container .item i {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #ababab;
  font-size: 17px;
  line-height: 17px;
}
.menu-nav-container .item a {
  margin: 0 3px;
  color: #fff;
  font-weight: bold;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
}
a {
  text-decoration: none;
}
.nav-tips {
  position: absolute;
  top: 0;
  right: 0;
  font: 16px/30px "Microsoft YaHei";
  color: #f33;
}
.nav-tips a {
  color: #f33;
}
.side {
  float: right;
  width: 240px;
  background: #fff;
}
.module {
  margin: 10px 0 0;
  padding: 15px 20px;
  border: 1px solid #ededed;
}
.module-title {
  font: 14px/22px "Microsoft YaHei";
}
.mall-notice ul {
  padding: 8px 0 0;
}
.mall-notice li {
  height: 24px;
  font: 12px/24px "Microsoft YaHei";
}
.mall-notice li a {
  color: #666;
}
.focus-box {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 360px;
}
.focus-box .focus-inner {
  position: relative;
  width: 1200px;
  height: 360px;
  overflow: hidden;
}
.focus-box .focus-inner ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
  height: 360px;
}
.focus-box .focus-inner li {
  float: left;
  width: 1200px;
  height: 360px;
}
.focus-box .focus-inner li a {
  color: #134BA0;
}
.focus-box .focus-inner img {
  display: block;
  border: 0;
}
.focus-switch {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 1200px;
  height: 18px;
  text-align: center;
}
.focus-switch span {
  display: inline-block;
  margin: 0 1px;
  width: 18px;
  height: 18px;
  font: 12px/18px arial;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  filter: none;
}
.screen-layer {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.screen-layer .right-banner {
  position: absolute;
  top: -360px;
  right: 0;
}
.screen-layer .right-banner a {
  color: #134BA0;
  text-decoration: none;
}
.screen-layer .right-banner img {
  display: block;
  border: 0;
}
.screen-layer .nav-classify {
  position: absolute;
  top: -360px;
  left: 0;
  overflow: hidden;
  width: 200px;
  height: 360px;
  background: rgba(0, 0, 0, 0.8);
}
.screen-layer .nav-classify dl {
  margin: -1px 15px 0;
  padding: 15px 0;
  border-top: 1px dotted #435563;
}
.screen-layer .nav-classify dt {
  font: 14px/28px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #fff;
  margin: 0;
  padding: 0;
}
.screen-layer .nav-classify dd {
  position: relative;
  margin: 0 -7px;
  font: 12px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #6b767f;
}
.screen-layer .nav-classify dd a {
  display: inline-block;
  margin: 0 7px;
  color: #e0e2e3;
}
#starRecommend {
  width: 1200px;
  margin: 0 auto;
}
#starRecommend .section {
  margin: 30px 0 0;
}
#starRecommend .section .section-hd {
  overflow: hidden;
}
#starRecommend .section .section-hd .main-title {
  float: left;
  font: 24px/44px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#starRecommend .section .section-hd .subtitle {
  float: left;
  padding: 4px 0 0 15px;
  font: 18px/40px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
}
#starRecommend .section .star-item-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 1px solid #F0F0F0;
}
#starRecommend .section .star-item-list .corner-mark {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 0 0;
  width: 40px;
  height: 37px;
  font: 14px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #fff;
  text-align: center;
  background: url(../images/corner_mark.png) no-repeat;
}
#starRecommend .section .star-item-list .price-bar {
  height: 40px;
  overflow: hidden;
  font: 12px/40px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#starRecommend .section .star-item-list .sale-price {
  float: left;
  height: 40px;
  font: 14px/40px Verdana;
  color: #f33;
}
#starRecommend .section .star-item-list .sale-price em {
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
}
#starRecommend .section .star-item-list .subtitle {
  padding: 0 0 3px;
  height: 20px;
  font: 12px/20px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #f33;
}
#starRecommend .section .star-item-list .pic {
  color: #333;
}
#starRecommend .section .star-item-list li {
  float: left;
  position: relative;
  margin: 0 -1px;
  padding: 19px 20px 17px;
  width: 200px;
  border-left: 1px solid #f0f0f0;
}
#brandRecommend {
  width: 1200px;
  margin: 0 auto;
}
.section {
  margin: 30px 0 0;
}
.section .section-hd {
  overflow: hidden;
}
.section .section-hd .subtitle {
  float: left;
  padding: 4px 0 0 15px;
  color: #666;
  font: 18px/40px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
.section .main-title {
  float: left;
  font: 24px/44px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
.more {
  float: right;
  padding: 8px 0 0 50px;
  font: bold 14px/36px "SimSun";
  color: #ccc;
}
.more a {
  margin: 0 5px 0 0;
  font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  font-weight: normal;
  color: #333;
}
.brand-choice {
  border: 1px solid #F0F0F0;
  overflow: hidden;
}
.brand-choice li {
  float: left;
  width: 398px;
  margin: 0 0 0 -1px;
  border-left: 1px solid #f0f0f0;
}
.brand-choice .list {
  padding: 0 0 10px;
  overflow: hidden;
}
.brand-choice .list a {
  float: left;
  margin: 0 9px 0 20px;
  width: 100px;
  color: #333;
}
.brand-choice .list a img {
  display: block;
  border: 0;
}
.brand-choice .pic {
  display: block;
  margin: 20px auto;
  width: 358px;
  height: 180px;
  color: #134BA0;
  text-decoration: none;
}
.brand-choice .pic img {
  display: block;
  border: 0;
}
.brands-list {
  overflow: hidden;
  margin: 30px 0 0;
  padding: 0;
}
.brands-list li {
  float: left;
  margin: 0 -1px;
  padding: 1px;
  width: 148px;
  height: 76px;
  border: 1px solid #F5F5F5;
}
.brands-list li a {
  color: #134BA0;
  text-decoration: none;
}
.brands-list li a img {
  display: block;
  border: 0;
}
#thousandRecommend {
  width: 1200px;
  margin: 0 auto;
}
#thousandRecommend .section-content {
  border-top: 2px solid #000;
}
#thousandRecommend .section-content .hot-sale-rank {
  float: right;
  width: 240px;
  background: #F5F5F5;
}
#thousandRecommend .section-content .hot-sale-rank .rank-list {
  padding: 0 35px 4px;
}
#thousandRecommend .section-content .hot-sale-rank .rank-list .price {
  display: block;
  height: 22px;
  overflow: hidden;
  font: 14px/22px "Verdana";
  text-align: center;
}
#thousandRecommend .section-content .hot-sale-rank .rank-list .title {
  display: block;
  padding: 10px 0 0;
  height: 22px;
  overflow: hidden;
  cursor: pointer;
  font: 14px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#thousandRecommend .section-content .hot-sale-rank .rank-list .pic {
  position: relative;
  display: block;
  text-align: center;
  color: #333;
}
#thousandRecommend .section-content .hot-sale-rank .rank-list .pic img {
  vertical-align: middle;
  border: 0;
}
#thousandRecommend .section-content .hot-sale-rank .rank-list .n1 {
  position: absolute;
  top: 22px;
  left: 0;
  font: italic 16px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#thousandRecommend .section-content .hot-sale-rank .rank-list li {
  position: relative;
  padding: 0 0 15px;
}
#thousandRecommend .section-content .hot-sale-rank .hd {
  padding: 16px;
  text-align: center;
  font: 18px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#thousandRecommend .section-content .figure-list {
  float: left;
  width: 720px;
}
#thousandRecommend .section-content .figure-list .mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 37px 20px 30px;
  width: 199px;
  height: 240px;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
#thousandRecommend .section-content .figure-list .mask h3 {
  padding: 0 0 8px;
  font: bold 16px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#thousandRecommend .section-content .figure-list .mask p {
  font: 14px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#thousandRecommend .section-content .figure-list .mask .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 11px 0;
  width: 239px;
  height: 22px;
  background: #000;
  text-align: center;
}
#thousandRecommend .section-content .figure-list .mask .btn span {
  display: inline-block;
  padding: 0 30px 0 0;
  color: #fff;
  font: 18px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  background: url(../images/btn.png) no-repeat 100% 0;
}
#thousandRecommend .section-content .figure-list .price {
  display: block;
  height: 36px;
  overflow: hidden;
  color: #333;
  font: 14px/36px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#thousandRecommend .section-content .figure-list .price em {
  padding: 0 0 0 3px;
  font-size: 20px;
  font-style: normal;
}
#thousandRecommend .section-content .figure-list .title {
  display: block;
  padding: 16px 0 0;
  height: 40px;
  overflow: hidden;
  color: #333;
  cursor: pointer;
  font: 14px/20px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#thousandRecommend .section-content .figure-list li {
  float: left;
  width: 239px;
  height: 307px;
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
#thousandRecommend .section-content .figure-list li a {
  display: block;
  position: relative;
  padding: 20px 29px 0 30px;
  width: 180px;
  height: 287px;
}
#thousandRecommend .section-content .main-figure {
  float: left;
  width: 240px;
  background: #f5f5f5;
}
#thousandRecommend .section-content .main-figure a {
  color: #134BA0;
  text-decoration: none;
}
#thousandRecommend .section-content .main-figure a img {
  display: block;
  border: 0;
}
#thousandRecommend .section-content .main-figure .filtrate {
  padding: 20px 0 0;
  height: 289px;
  background: #f5f5f5;
}
#thousandRecommend .section-content .main-figure .filtrate .filter {
  padding: 15px 0 0;
}
#thousandRecommend .section-content .main-figure .filtrate .filter .title {
  padding: 0 15px;
  font: bold 14px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
}
#thousandRecommend .section-content .main-figure .filtrate .filter .label {
  padding: 0 0 0 11px;
}
#thousandRecommend .section-content .main-figure .filtrate .filter .label a {
  display: inline-block;
  margin: 8px 4px 0;
  padding: 0 10px;
  background: #fff;
  font: 12px/26px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
  border-radius: 20px;
  white-space: nowrap;
}
#thousandRecommend .section-content .main-figure .filtrate .hd {
  position: relative;
  margin: 0 15px 9px;
  padding: 9px 0 0;
  border-bottom: 1px solid #e6e6e6;
}
#thousandRecommend .section-content .main-figure .filtrate .hd span {
  position: absolute;
  top: 0;
  left: 50%;
  margin: -4px 0 0 -45px;
  padding: 0 15px;
  font: 20px/26px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  background: #f5f5f5;
}
#fashionRecommend {
  width: 1200px;
  margin: 640px auto;
}
#fashionRecommend .section-content {
  border-top: 2px solid #000;
}
#fashionRecommend .section-content .hot-sale-rank {
  float: right;
  width: 240px;
  background: #F5F5F5;
}
#fashionRecommend .section-content .hot-sale-rank .rank-list {
  padding: 0 35px 4px;
}
#fashionRecommend .section-content .hot-sale-rank .rank-list .price {
  display: block;
  height: 22px;
  overflow: hidden;
  font: 14px/22px "Verdana";
  text-align: center;
}
#fashionRecommend .section-content .hot-sale-rank .rank-list .title {
  display: block;
  padding: 10px 0 0;
  height: 22px;
  overflow: hidden;
  cursor: pointer;
  font: 14px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#fashionRecommend .section-content .hot-sale-rank .rank-list .pic {
  position: relative;
  display: block;
  text-align: center;
  color: #333;
}
#fashionRecommend .section-content .hot-sale-rank .rank-list .pic img {
  vertical-align: middle;
  border: 0;
}
#fashionRecommend .section-content .hot-sale-rank .rank-list .n1 {
  position: absolute;
  top: 22px;
  left: 0;
  font: italic 16px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#fashionRecommend .section-content .hot-sale-rank .rank-list li {
  position: relative;
  padding: 0 0 15px;
}
#fashionRecommend .section-content .hot-sale-rank .hd {
  padding: 16px;
  text-align: center;
  font: 18px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#fashionRecommend .section-content .figure-list {
  float: left;
  width: 720px;
}
#fashionRecommend .section-content .figure-list .mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 37px 20px 30px;
  width: 199px;
  height: 240px;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
#fashionRecommend .section-content .figure-list .mask h3 {
  padding: 0 0 8px;
  font: bold 16px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#fashionRecommend .section-content .figure-list .mask p {
  font: 14px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#fashionRecommend .section-content .figure-list .mask .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 11px 0;
  width: 239px;
  height: 22px;
  background: #000;
  text-align: center;
}
#fashionRecommend .section-content .figure-list .mask .btn span {
  display: inline-block;
  padding: 0 30px 0 0;
  color: #fff;
  font: 18px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  background: url(../images/btn.png) no-repeat 100% 0;
}
#fashionRecommend .section-content .figure-list .price {
  display: block;
  height: 36px;
  overflow: hidden;
  color: #333;
  font: 14px/36px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#fashionRecommend .section-content .figure-list .price em {
  padding: 0 0 0 3px;
  font-size: 20px;
  font-style: normal;
}
#fashionRecommend .section-content .figure-list .title {
  display: block;
  padding: 16px 0 0;
  height: 40px;
  overflow: hidden;
  color: #333;
  cursor: pointer;
  font: 14px/20px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#fashionRecommend .section-content .figure-list li {
  float: left;
  width: 239px;
  height: 307px;
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
#fashionRecommend .section-content .figure-list li a {
  display: block;
  position: relative;
  padding: 20px 29px 0 30px;
  width: 180px;
  height: 287px;
}
#fashionRecommend .section-content .main-figure {
  float: left;
  width: 240px;
  background: #f5f5f5;
}
#fashionRecommend .section-content .main-figure a {
  color: #134BA0;
  text-decoration: none;
}
#fashionRecommend .section-content .main-figure a img {
  display: block;
  border: 0;
}
#fashionRecommend .section-content .main-figure .filtrate {
  padding: 20px 0 0;
  height: 289px;
  background: #f5f5f5;
}
#fashionRecommend .section-content .main-figure .filtrate .filter {
  padding: 15px 0 0;
}
#fashionRecommend .section-content .main-figure .filtrate .filter .title {
  padding: 0 15px;
  font: bold 14px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
}
#fashionRecommend .section-content .main-figure .filtrate .filter .label {
  padding: 0 0 0 11px;
}
#fashionRecommend .section-content .main-figure .filtrate .filter .label a {
  display: inline-block;
  margin: 8px 4px 0;
  padding: 0 10px;
  background: #fff;
  font: 12px/26px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
  border-radius: 20px;
  white-space: nowrap;
}
#fashionRecommend .section-content .main-figure .filtrate .hd {
  position: relative;
  margin: 0 15px 9px;
  padding: 9px 0 0;
  border-bottom: 1px solid #e6e6e6;
}
#fashionRecommend .section-content .main-figure .filtrate .hd span {
  position: absolute;
  top: 0;
  left: 50%;
  margin: -4px 0 0 -45px;
  padding: 0 15px;
  font: 20px/26px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  background: #f5f5f5;
}
#partsRecommend {
  width: 1200px;
  margin: 0 auto;
}
#partsRecommend .banner {
  margin: 640px 0 0;
}
#partsRecommend .banner img {
  display: block;
  border: 0;
}
#partsRecommend .banner a {
  color: #134BA0;
  text-decoration: none;
}
#partsRecommend .section-content {
  border-top: 2px solid #000;
}
#partsRecommend .section-content .product-list .price-bar {
  padding: 5px 0 0;
  height: 36px;
  overflow: hidden;
  font: 14px/36px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#partsRecommend .section-content .product-list .price-bar span {
  font-size: 20px;
}
#partsRecommend .section-content .product-list .title {
  display: block;
  padding: 17px 0 0;
  height: 40px;
  overflow: hidden;
  font: 14px/20px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  cursor: pointer;
}
#partsRecommend .section-content .product-list .pic {
  width: 180px;
  height: 180px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}
#partsRecommend .section-content .product-list .pic img {
  vertical-align: middle;
  border: 0;
}
#partsRecommend .section-content .product-list li {
  float: left;
  margin: 0 -1px -1px;
  padding: 20px 30px 0;
  width: 180px;
  height: 288px;
  border: 1px solid #f0f0f0;
  background: #fff;
}
#partsRecommend .section-content .product-list li a {
  color: #333;
}
#partsRecommend .section-hd .links {
  float: right;
  padding: 6px 0 0 15px;
  font: 16px/38px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
#partsRecommend .section-hd .links a {
  margin: 0 0 0 50px;
  color: #333;
}
.quik-nav {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -672px;
  z-index: 1000;
}
.quik-nav a {
  display: block;
  margin: 0 0 0 2px;
  padding: 8px 8px 0;
  width: 32px;
  height: 40px;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  font: 12px/16px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  text-align: center;
  color: #333;
}
.footer {
  margin: 30px 0 0;
  border-top: 1px solid #d9d9d9;
}
.footer .footer-nav-bar {
  padding: 25px 0 30px;
  background: #2D2D2D;
}
.footer .footer-nav-bar .wrapper {
  width: 1200px;
  margin: 0 auto;
}
.footer .footer-nav-bar .wrapper .authentication {
  padding: 14px 0 0;
}
.footer .footer-nav-bar .wrapper .authentication a {
  color: #134BA0;
  text-decoration: none;
}
.footer .footer-nav-bar .wrapper .authentication img {
  float: left;
  margin: 0 7px 0 0;
  border: 0;
}
.footer .footer-nav-bar .wrapper .copyright {
  margin: 0 0 0 -10px;
  padding: 20px 0 0;
  color: #666;
  font: 12px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
.footer .footer-nav-bar .wrapper .copyright a {
  margin: 0 10px;
  color: #999;
  white-space: normal;
  word-break: keep-all;
}
.footer .footer-nav-bar .wrapper .copyright span {
  padding: 0 0 0 15px;
  color: #999;
}
.footer .footer-nav-bar .wrapper .footer-nav {
  margin: 0 0 0 -10px;
  padding: 7px 0 0;
  font: 12px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
}
.footer .footer-nav-bar .wrapper .footer-nav a {
  margin: 0 10px;
  color: #fff;
  white-space: normal;
  word-break: keep-all;
}
.footer .wrapper {
  width: 1200px;
  margin: 0 auto;
}
.footer .wrapper .footer-service-relate {
  padding: 20px 0;
  border-top: 1px solid #EDEDED;
  overflow: hidden;
}
.footer .wrapper .footer-service-relate dl {
  float: left;
  width: 175px;
}
.footer .wrapper .footer-service-relate .hotline {
  width: 210px;
  float: right;
  padding: 0 0 0 60px;
  background: url(../images/footer.png) no-repeat 0 -90px;
}
.footer .wrapper .footer-service-relate .hotline .weibo {
  display: inline-block;
  padding: 0 0 0 26px;
  font: 12px/32px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #333;
  background: url(../images/footer.png) no-repeat 0 0;
}
.footer .wrapper .footer-service-relate .hotline dt {
  padding: 0;
  font-size: 16px;
}
.footer .wrapper .footer-service-relate dd {
  margin: 0;
  padding: 0;
}
.footer .wrapper .footer-service-relate dd p {
  font: 12px/28px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
.footer .wrapper .footer-service-relate dd p a {
  color: #666;
  text-decoration: none;
}
.footer .wrapper .footer-service-relate dt {
  font: bold 14px/28px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
  margin: 0;
}
.footer .wrapper .footer-service-relate .cooperation {
  width: 145px;
  float: right;
  padding: 0 0 0 60px;
  background: url(../images/footer.png) no-repeat 0 -215px;
}
.footer .wrapper .footer-service-relate .cooperation .btn {
  display: block;
  margin: 6px 0 0;
  width: 80px;
  height: 26px;
  font: 12px/26px SimSun;
  color: #fff;
  text-align: center;
  background: #f33;
  border-radius: 2px;
}
.footer .wrapper .footer-service-relate .cooperation .btn span {
  padding: 0 5px 0 0;
  font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
.footer .wrapper .footer-service-relate .cooperation dt {
  padding: 0;
  font-size: 16px;
}
.footer .wrapper .footer-service {
  padding: 30px 0;
  overflow: hidden;
}
.footer .wrapper .footer-service .iconfont {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  line-height: 50px;
  color: #00AE75;
  font-family: "iconfont" !important;
  font-style: normal;
}
.footer .wrapper .footer-service a {
  color: #333;
  text-decoration: none;
}
.footer .wrapper .footer-service li {
  position: relative;
  float: left;
  width: auto;
  padding: 0 66px 0 71px;
  height: 50px;
  font: 18px/50px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
/*# sourceMappingURL=list.css.map */
