* {
  margin: 0;
  padding: 0;
}
#head {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #e6e6e6;
  background: #F5F5F5;
  font: 12px/30px arial;
}
#head .top {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
}
#head .top .zc-login-info {
  float: left;
}
#head .top .zc-back-home {
  padding: 0 20px 0 0;
}
#head .top .zc-back-home a {
  color: #666;
  text-decoration: none;
}
#head .top .zc-login {
  padding: 0 20px 0 0;
  color: #666;
}
#head .top .zc-login a {
  color: #36c;
  text-decoration: none;
}
#head .top .zc-register a {
  color: #36c;
  text-decoration: none;
}
#head .top ul {
  list-style: none;
}
#head .top .zc-quick-menu {
  float: right;
  margin: 0 -10px 0 0;
}
#head .top .zc-quick-menu li {
  float: left;
  margin: 0 10px;
  height: 30px;
  font: 12px/30px arial;
}
#head .top .zc-quick-menu li a {
  display: inline-block;
  color: #666;
  text-decoration: none;
}
#head .top .zc-quick-menu .zc-hd {
  position: relative;
  padding: 0 23px 0 10px;
}
#head .top .zc-quick-menu .zc-hd .ico {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 7px;
  height: 4px;
  background: url(../images/images//1.png) 0 -45px no-repeat;
}
#head .top .zc-quick-menu .zc-my-center {
  margin: 0;
  position: relative;
}
#head .top .zc-quick-menu .zc-my-center .zc-my-center-bd {
  display: none;
  position: absolute;
  top: 29px;
  left: 0;
  padding: 3px 9px;
  width: 88px;
  border: 1px solid #ededed;
  background: #fff;
  z-index: 99;
}
#head .top .zc-quick-menu .zc-my-center .zc-my-center-bd a em {
  font-style: normal;
}
#head .top .zc-quick-menu .zc-separator {
  color: #ccc;
}
#head .top .zc-quick-menu .zc-mobile {
  margin: 0;
  position: relative;
}
#head .top .zc-quick-menu .zc-mobile .zc-hd {
  position: relative;
  padding: 0 23px 0 25px;
  background: url(../images/images//1.png) 0 0 no-repeat;
}
#head .top .zc-quick-menu .zc-mobile .zc-mobile-bd {
  display: none;
  position: absolute;
  top: 29px;
  left: 0;
  padding: 20px;
  width: 130px;
  height: 130px;
  border: 1px solid #ededed;
  background: #fff;
  z-index: 99;
}
#head .top .zc-quick-menu .zc-mobile .zc-mobile-bd img {
  display: block;
  border: 0;
}
#head .top .zc-quick-menu .lianxikefu {
  position: relative;
}
#head .top .zc-quick-menu .lianxikefu .zc-service-tel {
  display: none;
  position: absolute;
  top: 29px;
  right: 0;
  padding: 3px 9px;
  width: 80px;
  border: 1px solid #ededed;
  font: 12px/28px arial;
  text-align: right;
  background: #fff;
  z-index: 99;
}
.header {
  margin: 0 auto;
  padding: 25px 0 0;
  width: 1200px;
  height: 92px;
}
.header .logo {
  float: left;
  padding: 5px 0 0;
}
.header .logo h1 {
  float: left;
}
.header .logo .mall-logo {
  display: block;
  width: 180px;
  height: 50px;
  background: url(../images/images//3.png) no-repeat;
}
.header .logo p {
  float: left;
  margin: 3px 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #eee;
  font: 14px/44px "Microsoft YaHei";
  color: #666;
}
.header .search-box {
  float: left;
  padding: 12px 0 0 56px;
}
.header .search-box .search {
  position: relative;
  width: 536px;
  height: 32px;
  border: 2px solid #c40000;
  z-index: 3;
}
.header .search-box .search .search-text {
  padding: 6px 10px;
  width: 427px;
  height: 20px;
  font: 14px/20px "Microsoft YaHei";
  color: #666;
  border: 0 none;
}
.header .search-box .search .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 89px;
  height: 32px;
  font: 16px/32px "Microsoft YaHei";
  color: #fff;
  border: 0 none;
  background: #c40000;
}
.header .search-box .hot-search {
  padding: 7px 0 0;
  font: 12px/18px "Microsoft YaHei";
}
.header .search-box .hot-search a {
  display: inline-block;
  margin: 0 15px 0 0;
  color: #999;
  text-decoration: none;
}
.header .ad-div {
  float: right;
  width: 180px;
  height: 60px;
}
.header .ad-div img {
  display: block;
  border: 0;
}
.nav-box {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 0 0 2px 200px;
  width: 1000px;
  height: 30px;
  border-bottom: 2px solid #c40000;
}
.nav-box .nav li {
  float: left;
  padding: 0 20px;
  height: 30px;
  font: 16px/30px "Microsoft YaHei";
}
.nav-box .nav .current a {
  color: #f33;
}
.nav-box .nav a {
  display: inline-block;
  color: #333;
}
ul {
  list-style: none;
}
.category-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}
.category-nav-container .ad-div {
  width: 200px;
  height: 70px;
  background: #222;
}
.category-nav-container .ad-div img {
  display: block;
  border: 0;
}
.category-nav-title {
  height: 34px;
  background: #c40000;
  font: 14px/34px "Microsoft YaHei";
  color: #fff;
  text-align: center;
}
.category-menu-nav {
  position: relative;
  height: 341px;
  background: #2d2d2d;
}
.menu-nav-container {
  position: relative;
}
.menu-nav-container li {
  margin: -1px 0 0 1px;
  padding: 0 0 1px 31px;
  height: 38px;
  border-top: 1px solid #3d3d3d;
  font: 12px/38px "Microsoft YaHei";
  color: #fff;
}
.menu-nav-container .catCon {
  position: absolute;
  top: 0;
  left: 199px;
  padding: 5px 30px;
  width: 690px;
  height: 399px;
  background: #fff;
  background: rgba(255, 255, 255, 0.98);
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}
.menu-nav-container .catCon iconfont {
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 22px;
  line-height: 24px;
}
.menu-nav-container .catCon .service {
  padding: 15px 0 8px 68px;
  border: none;
  position: relative;
  font: 12px/26px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
.menu-nav-container .catCon .service dd {
  padding: 0 0 0 8px;
  color: #d3d3d3;
}
.menu-nav-container .catCon .service dd a {
  position: relative;
  display: inline-block;
  padding: 0 0 0 27px;
  margin: 0 20px 0 0;
  color: #00ae75;
  text-decoration: none;
}
.menu-nav-container .catCon .service a {
  color: #00ae75;
  margin: 0 8px;
  white-space: nowrap;
}
.menu-nav-container .catCon .service dt {
  position: absolute;
  top: 15px;
  left: 0;
  font-weight: bold;
}
.menu-nav-container .catCon dl {
  position: relative;
  padding: 15px 0 20px 68px;
  font: 12px/26px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  border-bottom: 1px solid #eee;
}
.menu-nav-container .item i {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #ababab;
  font-size: 17px;
  line-height: 17px;
}
.menu-nav-container .item a {
  margin: 0 3px;
  color: #fff;
  font-weight: bold;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
}
a {
  text-decoration: none;
}
.nav-tips {
  position: absolute;
  top: 0;
  right: 0;
  font: 16px/30px "Microsoft YaHei";
  color: #f33;
}
.nav-tips a {
  color: #f33;
}
.side {
  float: right;
  width: 240px;
  background: #fff;
}
.module {
  margin: 10px 0 0;
  padding: 15px 20px;
  border: 1px solid #ededed;
}
.module-title {
  font: 14px/22px "Microsoft YaHei";
}
.mall-notice ul {
  padding: 8px 0 0;
}
.mall-notice li {
  height: 24px;
  font: 12px/24px "Microsoft YaHei";
}
.mall-notice li a {
  color: #666;
}
.focus-box {
  float: right;
  position: relative;
  margin: 10px 10px 0 0;
  width: 740px;
  height: 400px;
}
.focus-inner {
  position: relative;
  width: 740px;
  height: 400px;
  overflow: hidden;
  left: 210px;
  top: 10px;
}
.focus-inner #click {
  height: 62px;
  width: 510px;
  position: absolute;
  top: 196px;
  left: 0px;
  /*border: 1px solid red;*/
  display: none;
}
.focus-inner #click .left,
.focus-inner #click .right {
  width: 28px;
  height: 62px;
  background: #00AE75;
  color: white;
  text-align: center;
  line-height: 62px;
  font-size: 20px;
  float: left;
  cursor: pointer;
}
.focus-inner #click .right {
  float: right;
  position: absolute;
  right: -230px;
}
.focus-inner img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.focus-inner #ul {
  width: 170px;
  height: 18px;
  position: absolute;
  left: 250px;
  bottom: 10px;
}
.focus-inner #ul li {
  width: 18px;
  height: 18px;
  background: #E02D2D;
  border-radius: 50%;
  float: left;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}
.wrapper {
  margin: 0 auto;
  width: 1200px;
}
.wrapper .ztuan-section {
  margin: 10px 0 0;
}
.wrapper .ztuan-section .section-title {
  height: 46px;
}
.wrapper .ztuan-section .section-title .title {
  float: left;
  width: 200px;
  height: 46px;
  text-indent: -9999em;
  overflow: hidden;
  background: url(../images/images//4.png) no-repeat 0 -46px;
}
.wrapper .ztuan-section .section-title .more {
  float: right;
  margin: 0 -10px 0 0;
  padding: 10px 0 0;
  font: 12px/36px "Microsoft YaHei";
  color: #d3d3d3;
}
.wrapper .ztuan-section .section-title .more a {
  margin: 0 10px;
  color: #666;
}
.wrapper .ztuan-section .section-title .more span {
  padding: 0 0 0 3px;
  font-family: SimSun;
}
.wrapper .ztuan-section .z-tuan-list {
  width: 1198px;
  overflow: hidden;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  position: relative;
}
.wrapper .ztuan-section .z-tuan-list ul {
  width: 1200px;
}
.wrapper .ztuan-section .z-tuan-list li {
  float: left;
  width: 300px;
  height: 180px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.wrapper .ztuan-section .z-tuan-list a {
  display: block;
  width: 300px;
  height: 180px;
}
.wrapper .ztuan-section .z-tuan-list img {
  display: block;
}
.feature-section {
  margin: 10px 0 0;
}
.feature-section .section-title {
  height: 46px;
}
.feature-section .section-title .title {
  float: left;
  width: 200px;
  height: 46px;
  text-indent: -9999em;
  overflow: hidden;
  background: url(../images/images//4.png) no-repeat;
}
.feature-section .feature-list {
  height: 372px;
  position: relative;
  border: 1px solid #ededed;
  border-bottom: 0 none;
  background: black;
}
.feature-section .feature-list .first {
  position: relative;
  z-index: 2;
  margin: -1px;
  border: 0 none;
}
.feature-section .feature-list li {
  float: left;
}
.feature-section .feature-list li img {
  display: block;
}
.feature-section .ad-div {
  padding: 20px 0 0;
}
.feature-section .ad-div img {
  display: block;
}
.section {
  margin: 30px 0 0;
}
.mobile-section {
  height: 532.8px;
}
.mobile-section .section-title {
  height: 46px;
}
.mobile-section .section-title .outside {
  position: relative;
}
.mobile-section .section-title .title {
  float: left;
  width: 200px;
  height: 46px;
  text-indent: -9999em;
  overflow: hidden;
  background: url(../images/images//4.png) no-repeat 0 -92px;
}
.mobile-section .section-title .more {
  float: right;
  margin: 0 -10px 0 0;
  padding: 10px 0 0;
  font: 12px/36px "Microsoft YaHei";
  color: #d3d3d3;
}
.mobile-section .section-title .more a {
  margin: 0 10px;
  color: #666;
}
.mobile-section .clearfix {
  overflow: hidden;
}
.mobile-section .clearfix .main-figure {
  float: left;
  width: 360px;
  height: 420px;
}
.mobile-section .clearfix .figure-list {
  float: left;
  width: 840px;
  height: 420px;
  overflow: hidden;
  position: relative;
}
.mobile-section .clearfix .figure-list #bt1 {
  position: absolute;
  left: 0;
}
.mobile-section .clearfix .figure-list #bt2 {
  position: absolute;
  left: 390px;
}
.mobile-section .clearfix .figure-list .wide {
  padding: 0;
  width: 419px;
  height: 208px;
}
.mobile-section .clearfix .figure-list .all1 {
  width: 12570px;
  height: 419px;
  /*border: 1px solid red;*/
  position: absolute;
  left: 0px;
  top: 0px;
}
.mobile-section .clearfix .figure-list .all1 img {
  float: left;
}
.mobile-section .clearfix .figure-list .ul1 {
  width: 80px;
  height: 10px;
  position: absolute;
  left: 180px;
  bottom: 220px;
}
.mobile-section .clearfix .figure-list .ul1 div {
  width: 9px;
  height: 9px;
  background: #eee;
  border-radius: 50%;
  float: left;
  margin-right: 11px;
  list-style: none;
}
.mobile-section .clearfix .figure-list .ul div:nth-child(1) {
  background: #B61B1F;
}
.mobile-section .clearfix .figure-list .bt {
  width: 30px;
  height: 60px;
  opacity: 0.4;
  position: absolute;
  top: 95px;
  background: #2b2b2b;
  z-index: 10;
  display: none;
  color: white;
  font-size: 20px;
}
.mobile-section .clearfix .figure-list .item {
  float: left;
  margin: 0 0 -1px -1px;
  border: 1px solid #ededed;
  background: #fff;
  overflow: hidden;
}
.mobile-section .clearfix .figure-list .item .pic {
  display: block;
  padding: 12px 0 0;
}
.mobile-section .clearfix .figure-list .item .pic .picture {
  position: absolute;
  left: 25px;
  top: 70px;
}
.mobile-section .clearfix .figure-list .tall {
  float: left;
  margin: 0 0 -1px -1px;
  padding: 16px 25px 0 24px;
  width: 160px;
  border: 1px solid #ededed;
  background: #fff;
  height: 192px;
  overflow: hidden;
  position: relative;
  z-index: 100;
}
.mobile-section .clearfix .figure-list .title {
  width: 160px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 14px/20px "Microsoft YaHei";
}
.mobile-section .clearfix .figure-list .title a {
  color: #333;
}
.mobile-section .clearfix .figure-list p {
  height: 20px;
  overflow: hidden;
  font: 14px/20px "Microsoft YaHei";
  color: #f33;
}
.mobile-section .brands-list {
  margin: -1px 0 0;
  padding: 0 0 0 3px;
  border: 1px solid #ededed;
}
.mobile-section .brands-list li {
  float: left;
  margin: 0 -1px 0 0;
  padding: 3px 1px;
}
.mobile-section .brands-list li img {
  display: block;
}
.ces {
  padding: 20px 0 0;
}
.footer {
  margin: 30px 0 0;
  height: 543px;
  border-top: 1px solid #d9d9d9;
}
.footer .wrapper {
  height: 318.8px;
}
.footer .wrapper .footer-service {
  padding: 30px 0;
  overflow: hidden;
}
.footer .wrapper .footer-service li {
  position: relative;
  float: left;
  width: auto;
  padding: 0 66px 0 71px;
  height: 50px;
  font: 18px/50px "Microsoft YaHei";
}
.footer .wrapper .footer-service a {
  color: #333;
}
.footer .wrapper .footer-service .iconfont {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  line-height: 50px;
  color: #00ae75;
}
.footer .wrapper .footer-service-relate {
  padding: 20px 0;
  border-top: 1px solid #ededed;
}
.footer .wrapper .footer-service-relate .cooperation {
  width: 145px;
  float: right;
  padding: 0 0 0 60px;
  background: url(../images/images//5.png) no-repeat 0 -215px;
}
.footer .wrapper .footer-service-relate .cooperation dt {
  padding: 0;
  font-size: 16px;
}
.footer .wrapper .footer-service-relate .cooperation .btn {
  display: block;
  margin: 6px 0 0;
  width: 80px;
  height: 26px;
  font: 12px/26px SimSun;
  color: #fff;
  text-align: center;
  background: #f33;
  border-radius: 2px;
}
.footer .wrapper .footer-service-relate .cooperation .btn span {
  padding: 0 5px 0 0;
  font-family: "Microsoft YaHei";
}
.footer .wrapper .footer-service-relate dt {
  font: bold 14px/28px "Microsoft YaHei";
  color: #666;
}
.footer .wrapper .footer-service-relate dd p {
  font: 12px/28px "Microsoft YaHei";
}
.footer .wrapper .footer-service-relate dd p a {
  color: #666;
}
.footer .wrapper .footer-service-relate .hotline {
  width: 210px;
  float: right;
  padding: 0 0 0 60px;
  background: url(../images/images//5.png) no-repeat 0 -90px;
}
.footer .wrapper .footer-service-relate .hotline dt {
  padding: 0;
  font-size: 16px;
}
.footer .wrapper .footer-service-relate .hotline .weibo {
  display: inline-block;
  padding: 0 0 0 26px;
  font: 12px/32px "Microsoft YaHei";
  color: #333;
  background: url(../images/images//5.png) no-repeat;
}
.footer .wrapper .footer-service-relate dl {
  float: left;
  width: 175px;
}
.footer .footer-nav-bar {
  padding: 25px 0 30px;
  background: #2d2d2d;
}
.footer .footer-nav-bar .wrapper {
  height: 169px;
}
.footer .footer-nav-bar .wrapper .partners {
  position: relative;
  padding: 0 135px 0 55px;
  height: 24px;
  overflow: hidden;
  font: 12px/24px "Microsoft YaHei";
  color: #666;
}
.footer .footer-nav-bar .wrapper .partners .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
}
.footer .footer-nav-bar .wrapper .partners a {
  margin: 0 10px;
  color: #fff;
}
.footer .footer-nav-bar .wrapper .footer-nav {
  margin: 0 0 0 -10px;
  padding: 7px 0 0;
  font: 12px/24px "Microsoft YaHei";
  color: #666;
}
.footer .footer-nav-bar .wrapper .footer-nav a {
  margin: 0 10px;
  color: #fff;
}
.footer .footer-nav-bar .wrapper .copyright {
  margin: 0 0 0 -10px;
  padding: 20px 0 0;
  font: 12px/24px "Microsoft YaHei";
  color: #666;
}
.footer .footer-nav-bar .wrapper .copyright a {
  margin: 0 10px;
  color: #999;
}
.footer .footer-nav-bar .wrapper .copyright span {
  padding: 0 0 0 15px;
  color: #999;
}
.footer .footer-nav-bar .wrapper .authentication {
  padding: 14px 0 0;
}
.footer .footer-nav-bar .wrapper .authentication img {
  float: left;
  margin: 0 7px 0 0;
}
.zc-side-toolbar-box {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1800;
  height: 100%;
  background: transparent;
}
.zc-side-toolbar-box .zc-toolbar-tabbar {
  position: absolute;
  top: 0;
  left: -37px;
  width: 37px;
  height: 100%;
  background: #2d2d2d;
  z-index: 1;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -250px 0 0;
  width: 37px;
  height: 266px;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-order {
  position: relative;
  margin: 0 0 12px;
  background-color: #2d2d2d;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-order .zc-tab-ico {
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url(../images/images//6.png) no-repeat 0 0;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-footprint {
  position: relative;
  margin: 0 0 12px;
  background-color: #2d2d2d;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-footprint .zc-tab-ico {
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url(../images/images//6.png) no-repeat 0 -74px;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-cart {
  position: relative;
  margin: 0 0 12px;
  background-color: #2d2d2d;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-cart .zc-tab-ico {
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url(../images/images//6.png) no-repeat 0 -111px;
}
.zc-side-toolbar-box .zc-toolbar-tabbar .zc-operation-tabbox .zc-tab-cart .zc-number {
  position: absolute;
  top: -4px;
  right: 3px;
  padding: 1px 4px 0;
  height: 13px;
  font: 12px/13px Arial;
  background: #f33;
  color: #fff;
  border-radius: 10px;
}
.zc-side-toolbar-box .zc-toolbar-tool {
  position: absolute;
  bottom: 0;
  right: 0;
}
.zc-side-toolbar-box .zc-toolbar-tool .zc-feedback {
  display: block;
  padding: 5px;
  font: 12px/14px "Microsoft YaHei";
  color: #fff;
  text-align: center;
}
.zc-side-toolbar-box .zc-toolbar-tool .zc-backtop {
  display: block;
  width: 37px;
  height: 37px;
  background-color: #2d2d2d;
  background: url(../images/images//6.png) no-repeat 0 -185px;
}
/*# sourceMappingURL=style.css.map */
