* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.428571429;
  color: #3d4450;
  background: url("../images/bg.jpg");
}
.container {
  box-sizing: border-box;
  max-width: 1170px;
  margin: 0 auto;
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0px 5px #c2c2c2;
}
#header {
  min-height: 50px;
  background-color: #3d4450;
  border-color: #080808;
  position: fixed;
  width: 100%;
  z-index: 2;
}
#header .container {
  overflow: hidden;
}
#header .container .logo {
  width: 200px;
  height: 50px;
  float: left;
}
@media only screen and (max-width: 940px) and (min-width: 740px) {
  #header .container .logo {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 740px) {
  #header .container .logo {
    width: auto;
    text-align: left;
  }
}
#header .container .collapse {
  display: table;
  max-height: 50px;
  text-align: center;
  float: left;
  box-sizing: border-box;
}
#header .container .collapse ul li {
  float: left;
  box-sizing: border-box;
}
#header .container .collapse ul li a {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
  height: 30px;
  line-height: 30px;
  padding: 10px 15px;
}
#header .container .collapse ul li:nth-child(1) {
  background: #d2322d;
}
@media only screen and (max-width: 940px) and (min-width: 740px) {
  #header .container .collapse {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 740px) {
  #header .container .collapse {
    display: none;
  }
}
#header .container .menubtn {
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
  margin: 10px 10px 0 0;
  display: none;
  background: transparent;
  border: 0;
  color: white;
}
@media only screen and (max-width: 740px) {
  #header .container .menubtn {
    display: inline-block;
  }
}
#header .menu {
  display: none;
}
#header .menu ul {
  margin-top: 10px;
}
#header .menu ul li {
  margin-left: 30px;
  height: 40px;
}
#header .menu ul li a {
  color: white;
}
#main {
  padding: 80px 0;
  overflow: hidden;
}
#main .container .row {
  display: table;
  margin-right: 15px;
  margin-left: 15px;
  box-sizing: border-box;
}
@media only screen and (max-width: 880px) {
  #main .container .row {
    margin-right: 15px;
  }
}
#main .container .row .mainstay {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  float: left;
  box-sizing: border-box;
}
@media only screen and (min-width: 940px) {
  #main .container .row .mainstay {
    width: 63%;
  }
}
@media only screen and (min-width: 740px) and (max-width: 940px) {
  #main .container .row .mainstay {
    width: 90%;
    float: none;
    margin: 50px auto;
  }
  #main .container .row .mainstay .well {
    white-space: wrap;
  }
  #main .container .row .mainstay .well p {
    width: 100%;
  }
}
@media only screen and (max-width: 740px) {
  #main .container .row .mainstay {
    width: 90%;
    float: none;
    margin: 0 auto;
  }
}
#main .container .row .mainstay .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0px 5px #c2c2c2;
}
#main .container .row .mainstay .well button {
  border: 0;
  background: transparent;
  float: right;
  font-size: 14px;
  color: #3d4450;
  text-shadow: 0 1px 0 #ffffff;
  cursor: pointer;
}
#main .container .row .mainstay #banner {
  box-sizing: border-box;
}
#main .container .row .mainstay #banner .flexslider {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  border: 0;
  margin: 0 0 40px 0;
  overflow: hidden;
}
#main .container .row .mainstay #banner .flexslider .flex-viewport {
  max-height: 2000px;
  box-sizing: border-box;
}
#main .container .row .mainstay #banner .flexslider .flex-viewport .slides {
  height: 1000%;
  position: absolute;
  width: 100%;
  top: 0;
}
#main .container .row .mainstay #banner .flexslider .flex-viewport .slides li {
  height: auto;
  overflow: hidden;
}
#main .container .row .mainstay #banner .flexslider .flex-viewport .slides li a img {
  max-width: 100%;
  display: block;
  height: auto;
  padding: 0;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
#main .container .row .mainstay .arc-list {
  margin-top: 20px;
}
#main .container .row .mainstay .arc-list .article {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0px 5px #c2c2c2;
  -moz-box-shadow: 0 0px 5px #c2c2c2;
  box-shadow: 0 0px 5px #c2c2c2;
}
#main .container .row .mainstay .arc-list .article .date-ico {
  background-color: #d9534f;
  border-color: #d43f3a;
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  left: -20px;
  top: -20px;
  color: white;
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main .container .row .mainstay .arc-list .article .date-ico .day {
  font-size: 30px;
  font-weight: bold;
  margin-top: -5px;
}
#main .container .row .mainstay .arc-list .article .content .con-head {
  padding: 20px 15px 0px 15px;
}
#main .container .row .mainstay .arc-list .article .content .con-head h1 {
  font-size: 32px;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
}
#main .container .row .mainstay .arc-list .article .content .arc-tag {
  text-align: center;
  line-height: 24px;
  margin: 20px;
  box-sizing: border-box;
}
#main .container .row .mainstay .arc-list .article .content .arc-tag span {
  display: inline;
  padding: .2em .6em .3em;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #3d4450;
  margin-right: 5px;
  font-size: 90%;
}
#main .container .row .mainstay .arc-list .article .content .arc-content .thumbnail {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1.428571429;
  background-color: #ffffff;
  border-radius: 4px;
}
#main .container .row .mainstay .arc-list .article .content .arc-content .thumbnail a img {
  display: block;
  height: auto;
  border-radius: 4px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#main .container .row #sidebar {
  float: right;
  box-sizing: border-box;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  display: block;
}
@media only screen and (min-width: 940px) {
  #main .container .row #sidebar {
    width: 30%;
  }
}
@media only screen and (max-width: 940px) and (min-width: 740px) {
  #main .container .row #sidebar {
    float: none;
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 740px) {
  #main .container .row #sidebar {
    float: none;
    width: 90%;
    margin: 0 auto;
  }
}
#main .container .row #sidebar .login .panel {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0px 5px #c2c2c2;
  box-sizing: border-box;
}
#main .container .row #sidebar .login .panel .panel-heading {
  color: white;
  background-color: #3d4450;
  border-color: #000;
  border-bottom: none;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
#main .container .row #sidebar .login .panel .login-form {
  overflow: hidden;
  background-color: white;
  padding: 30px 20px;
}
#main .container .row #sidebar .login .panel .login-form .form-group {
  margin-bottom: 15px;
}
#main .container .row #sidebar .login .panel .login-form .form-group .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 15px;
}
#main .container .row #sidebar .login .panel .login-form .form-group .input-group .input-group-addon {
  background-color: #d9534f;
  color: white;
  border: 2px solid #d9534f;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  border-radius: 4px;
  width: 1%;
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#main .container .row #sidebar .login .panel .login-form .form-group .input-group .form-control {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: table-cell;
  padding: 10px 5px;
  border-left: none;
  width: 100%;
}
#main .container .row #sidebar .login .panel .login-form .form-group .input-group .form-control:focus {
  border: 1px solid rgba(255, 0, 0, 0.5);
  outline: none;
  box-shadow: 0 0 3px rgba(255, 0, 0, 0.5);
}
#main .container .row #sidebar .login .panel .login-form .form-group .loginbtn,
#main .container .row #sidebar .login .panel .login-form .form-group .regbtn {
  border: 1px solid red;
  color: white;
  width: 45%;
  padding: 10px 0;
  background-color: #666666;
  border-color: #d9534f;
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
}
@media only screen and (max-width: 940px) {
  #main .container .row #sidebar .login .panel .login-form .form-group .loginbtn,
  #main .container .row #sidebar .login .panel .login-form .form-group .regbtn {
    width: 45%;
  }
}
#main .container .row #sidebar .login .panel .login-form .form-group .loginbtn {
  float: left;
}
#main .container .row #sidebar .login .panel .login-form .form-group .loginbtn:hover {
  background-color: #d9534f;
  border-color: #d9534f;
}
#main .container .row #sidebar .login .panel .login-form .form-group .regbtn {
  float: right;
}
#main .container .row #sidebar .login .panel .login-form .form-group .regbtn:hover {
  background-color: #d9534f;
  border-color: #d9534f;
}
#main .container .row #sidebar .search .search-box {
  margin-bottom: 30px;
  border: 2px solid white;
  padding: 8px;
  border-radius: 4px;
  background-color: #3d4450;
}
#main .container .row #sidebar .search .search-box form {
  display: table;
  width: 100%;
}
#main .container .row #sidebar .search .search-box form .form-control {
  display: table-cell;
  width: 70%;
  margin-right: 10px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
@media only screen and (max-width: 940px) and (min-width: 620px) {
  #main .container .row #sidebar .search .search-box form .form-control {
    min-width: 85%;
  }
}
@media only screen and (max-width: 620px) {
  #main .container .row #sidebar .search .search-box form .form-control {
    max-width: 60%;
  }
}
#main .container .row #sidebar .search .search-box form .searbtn {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  display: table-cell;
}
@media only screen and (max-width: 770px) {
  #main .container .row #sidebar .hotarc,
  #main .container .row #sidebar .comments,
  #main .container .row #sidebar .sets {
    display: none;
  }
}
#main .container .row #sidebar .hotarc .panel,
#main .container .row #sidebar .comments .panel,
#main .container .row #sidebar .sets .panel {
  box-sizing: border-box;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0px 5px #c2c2c2;
}
#main .container .row #sidebar .hotarc .panel .panel-heading,
#main .container .row #sidebar .comments .panel .panel-heading,
#main .container .row #sidebar .sets .panel .panel-heading {
  color: white;
  background-color: #3d4450;
  border-color: #000;
  border-bottom: none;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 10px 15px;
  box-sizing: border-box;
}
#main .container .row #sidebar .hotarc .panel .list-group,
#main .container .row #sidebar .comments .panel .list-group,
#main .container .row #sidebar .sets .panel .list-group {
  max-height: 500px;
  overflow: hidden;
  width: 100%;
}
#main .container .row #sidebar .hotarc .panel .list-group .list-group-item,
#main .container .row #sidebar .comments .panel .list-group .list-group-item,
#main .container .row #sidebar .sets .panel .list-group .list-group-item {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-width: 1px 0;
  box-sizing: border-box;
}
#main .container .row #sidebar .hotarc .panel .list-group .list-group-item .post-title,
#main .container .row #sidebar .comments .panel .list-group .list-group-item .post-title,
#main .container .row #sidebar .sets .panel .list-group .list-group-item .post-title {
  display: inline-block;
  width: 75%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#main .container .row #sidebar .hotarc .panel .list-group .list-group-item .post-title a,
#main .container .row #sidebar .comments .panel .list-group .list-group-item .post-title a,
#main .container .row #sidebar .sets .panel .list-group .list-group-item .post-title a {
  color: #666666;
}
#main .container .row #sidebar .hotarc .panel .list-group .list-group-item .badge,
#main .container .row #sidebar .comments .panel .list-group .list-group-item .badge,
#main .container .row #sidebar .sets .panel .list-group .list-group-item .badge {
  background-color: #d9534f;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
}
#main .container .row #sidebar .comments .author-avatar {
  box-sizing: border-box;
  text-align: -webkit-match-parent;
}
#main .container .row #sidebar .comments .author-avatar .avatar {
  border-radius: 50%;
  border: 1px solid #eeeeee;
  position: relative;
  z-index: 1;
  float: left;
  display: block;
  transition: all .3s ease;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  cursor: pointer;
}
#main .container .row #sidebar .comments .author-avatar .avatar:hover {
  transform: scale(1.25);
}
#main .container .row #sidebar .comments .comment-log {
  line-height: 20px;
  background-color: #eeeeee;
  border-color: #eeeeee;
  border-radius: 4px;
  display: inline-block;
  padding: 8px;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70%;
}
#main .container .row #sidebar .comments .comment-log a {
  color: #666666;
}
#main .container .row #sidebar .sets .navs {
  padding: 10px;
  margin-bottom: 0;
  overflow: hidden;
}
#main .container .row #sidebar .sets .navs li {
  margin-left: 5px;
  float: left;
  display: block;
}
#main .container .row #sidebar .sets .navs li .navs-tag {
  border-radius: 5px;
  display: block;
  padding: 10px 14px;
  color: #333333;
}
#main .container .row #sidebar .sets .navs li .navs-tag:hover {
  background-color: #d9534f;
  color: #ffffff;
}
#main .container .row #sidebar .sets .navs li .active {
  background-color: #d9534f;
  color: #ffffff;
}
#main .container .row #sidebar .sets .tab-content {
  border-top: 1px solid #eeeeee;
  padding: 10px;
  box-sizing: border-box;
}
#main .container .row #sidebar .sets .tab-content .tab-pane {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  overflow: hidden;
  display: none;
}
#main .container .row #sidebar .sets .tab-content .tab-pane .cat-item a {
  display: block;
  padding: 10px 15px;
  color: #666666;
  width: 100%;
}
#main .container .row #sidebar .sets .tab-content .tab-pane .cat-item a:hover {
  background-color: #d9534f;
  color: #ffffff;
}
#main .container .row #sidebar .sets .tab-content .tab-pane:nth-child(1) {
  display: block;
}
#footer {
  display: block;
  text-align: center;
  color: #eeeeee;
  padding: 50px;
  background-color: #3d4450;
}
#footer .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#footer .container a {
  color: #FFFFFF;
}
#footer .container a:hover {
  color: #d9534f;
}
/*# sourceMappingURL=index.css.map */
